<div class="container">
  <p><U>SPRING BOOT JPA BACKEND AND ANGULAR 8 UI AS FRONTEND</U></p>
  <br>
  <br>
  <button (click)="getAllCustomerPage()" class="btn btn-info">Customer List</button>
  &nbsp;
  &nbsp;
  <button (click)="AddCustomerPage()" class="btn btn-info">Add Customer</button>
  &nbsp;
  &nbsp;
  <button (click)="getIdFormForUpdate()" class="btn btn-warning">Update Customer by ID</button>
  &nbsp;
  &nbsp;
  <br>
  <br>
  <br>
  <button (click)="getIdFormForDelete()" class="btn btn-danger">Delete Customer by ID</button>
  &nbsp;
  &nbsp;
  <button (click)="DeleteAll()" class="btn btn-danger">Delete All Customer</button>
  <br>
  <br>
  <br>
  <button (click)="findByIDForm()" class="btn btn-info">Find Customer by ID</button>
  &nbsp;
  &nbsp;
  <button (click)="findByEmailForm()" class="btn btn-info">Find Customer by Email</button>
  &nbsp;
  &nbsp;
  
  <br>
  <br>
  <br>
  
</div>


